.apartment-actions {
    display: flex;
    justify-content: space-between; /* Разпределя бутоните на двете страни */
    align-items: center; /* Центрира бутоните вертикално */
    margin-top: 15px;
    position: relative; /* Нужно за позициониране на кръглия бутон */
}

.apartment-actions .btn-success {
    margin-right: 10px; /* Добавя разстояние между бутоните */
    width: auto; /* Подравняваме бутона "Sell" вляво */
}

.add-apartment-button {
    background-color: #3c98e4; /* Основен цвят на бутона */
    border: none;
    border-radius: 50%; /* Кръгъл бутон */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-apartment-button:hover {
    background-color: #39ede1; /* По-тъмен зелен при hover */
}

.add-apartment-button svg {
    fill: white; /* Иконата е в бял цвят */
    pointer-events: none; /* Иконата няма да прихваща събития на клик */
}
